modules = ["nodejs-20", "web", "bash"]
run = "# Install dependencies `npm install`  # Build the extension `npm run build`  # Create a ZIP file `npm run package`"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "# Install dependencies `npm install`  # Build the extension `npm run build`  # Create a ZIP file `npm run package`"]
